<!DOCTYPE html>
<html lang="en">
    {% extends "base.html" %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={{url_for('static', filename='styles.css')}}>
    <title>contents</title>
</head>
{% block content %}
{% include "header.html" %}


<body>

       </table>
    <form action="/add" method="post">
        <h3>Create new notes</h3>
        <input type="text" name="title">
        <input type="text" name="body">
        <input type="integer" name="time">
        <input type="submit" value="add" class="add">
    </form>
            <h2>Notes</h2>

        <div class="container">
        {% for item in results %}
        <button><a href="{{url_for('note', id=item[0])}}">{{item[3]}}
                <ab>{{item[2]}}</ab><div class="card">
            <div class="notethumb">

            </div>
            <div>
                <form action="/delete" method="post">
                    <input type="hidden" name="id" value="{{item[0]}}">
                    <input type="submit" value="delete" class="delete">
                </form>
            </div>

        </div></a></button>
    
        {% endfor %}
        </div>
 
</body>
{% endblock %}
</html>