<!DOCTYPE html>
<html lang="en">
{% include 'notetitle.html'%}
{% include 'base.html'%}


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>


<body>
    <div class="notepage">
        {{result}}
        <div>
            {% if session['user'] == id %}
            <e><form action="/edit" method="post">
                <input type="text" name="body" value="{{result[2]}}">
                <input type="hidden" name="id" value="{{result[0]}}">
                <input type="submit" value="edit" class="edit"></e>
            </form>
            {% endif %}
        </div>
    </div>

    </div>
</body>

</html>